version: "3.9"

services:
  talentx-admin:
    container_name: talentx-admin-dashboard
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "3001:3000"
    restart: unless-stopped